// Colour Palette
$PAL_PRIMARY: #32aa3c;
$PAL_SECONDARY: #fdbd3d;
$PAL_TERT1: #f2f0eb;
$PAL_TERT2: #408548;
$PAL_TERT3: #3f3f3f;
$PAL_BLACK: #231f20;
$PAL_WHITE: #ffffff;
$PAL_RED: #cf0010;
$PAL_BLUE: #0081b9;
$PAL_GRAY: #dedede;

// Variables
$COL_BACKGROUND: $PAL_TERT1;
$COL_TEXT: $PAL_WHITE;
$COL_TEXT_DARK: $PAL_BLACK;
$COL_HEADER_COLOR: $PAL_WHITE;
$COL_HEADER_BACKGROUND: $PAL_PRIMARY;
$COL_GOOD: $PAL_PRIMARY;
$COL_BAD: $PAL_RED;

$COL_CARD_BACKGROUND: $PAL_WHITE;
$COL_LINK_HOVER: $PAL_PRIMARY;

$HEIGHT_HEADER: 100px;
$GRID_SPACING: 1%;
$GRID_COLUMNS: 4;
